.App {
  text-align: center;
}

.welcome-message {
  text-align: center;
  font-family: 'futura', monospace;
  text-shadow: 1px 1px whitesmoke;
}

.topSection {
  padding-top: 10px;
  background-image: url("image/yellowish.jpeg");
  background-attachment: fixed;
}

.aboutSection {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("image/jazzberry.jpeg");
  background-attachment: fixed;
  text-shadow: 1px 1px whitesmoke;
}

.skillSection {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("image/bluish.jpeg");
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 1px 1px whitesmoke;
}

.connectSection {
  padding-top: 10px;
  padding-bottom: auto;
  background-image: url("image/green2.jpeg");
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 1px 1px whitesmoke;
}

.loadingGif {
  display: flex;
  margin: 0 auto;
}

.navbar {
  position: sticky;
  height: 100px;
  width: auto;
  text-align: center;
  background-color: rgb(221, 160, 221, 0.5);
  display: flex;
}

.about,
.skill,
.connect {
  position: static;
  margin: auto;
}

.about {
  margin-left: auto;
  margin-right: 40px;
}

.skill {
  margin-left: 0px;
  margin-right: 0px;
}

.connect {
  margin-left: 40px;
  margin-right: auto;
}

.about svg,
.skill svg,
.connect svg {
  width: 25px;
}

.skill svg {
  padding-top: 10px;
  padding-bottom: 7px;
}

.connect svg {
  padding-top: 5px;
  padding-bottom: 7px;
}

.navbar a {
  font-family: 'futura';
  padding:70px;
  color: black;
  position: sticky;
}

.aboutCircle {
  position: relative;
  display: flex;
  width: 90%;
  height: 500px;
  background-color: rgb(255, 183, 178, 0.8);
  border-radius: 50%;
  margin: auto;
  
}

.skillCircle {
  position: relative;
  display: flex;
  width: 90%;
  height: 500px;
  background-color: rgb(199, 206, 234, 0.8);
  border-radius: 50%;
  margin: auto;
}

.aboutText {
  position: sticky;
  margin: auto;
  margin-left: 80px;
  margin-right: 80px;
  font-family: 'futura';
}

.skillText {
  position: sticky;
  margin: auto;
  margin-left: 80px;
  margin-right: 80px;
  font-family: 'futura';
}

.linkedinCircle,
.githubCircle,
.instagramCircle {
  position: center;
  display: flex;
  width: 150px;
  height: 150px;
  background-color: rgb(226, 240, 203, 0.5);
  border-radius: 50%;
  margin: auto;
}

.github svg,
.linkedin svg,
.instagram svg {
  width: 45px;
}

.github,
.linkedin,
.instagram {
  margin: auto;
  font-family: 'futura';
  position: static;
}

.github {
  margin-left: auto;
  margin-right: 50px;
}

.linkedin {
  margin-left: 45px;
  margin-right: 0px;
}

.instagram {
  margin-left: 40px;
  margin-right: auto;
}

.connectPart {
  text-align: center;
  display: flex;
  padding-bottom: 50px;
}

.connectSection h1,
.skillSection h1,
.aboutSection h1 {
  font-family: 'futura';
  margin-left: 10px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

